<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменить автора</title>
</head>
<body>
    {% for st in statements %}
        id{{ st.id }}: {{ st.name }}:
        {% for a in autors %}
            {% if a.statement.id == st.id %}
                <br>&nbsp;&nbsp;&nbsp;&nbsp;{{ a.id }}: {{ a.name }}
            {% endif %}
        {% endfor %}
    <br>
    {% endfor %}
    <a href="http://127.0.0.1:8000/polls/add_statements"><button>Add statement</button></a>
    <a href="http://127.0.0.1:8000/polls/delete_statements"><button>Delete statement</button></a>
    <a href="http://127.0.0.1:8000/polls/add_autors"><button>Add autors</button></a>
</body>
</html>